.body-parts-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin: 4rem auto;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	width: 25vw;
	height: fit-content;
	font-size: 4.5vw;
	border: solid 2px black;
	background-image: linear-gradient(-45deg, black, rgba(90, 0, 0, 1), black);
	border-radius: 10px;
	margin: 0.5rem;
	padding: 1rem;
}

.results-container {
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: fit-content;
	width: 80vw;
}

.single-exercise {
	margin: 2rem;
	width: 80vw;
	height: fit-content;
}

.gifs {
	width: 70vw;
	height: auto;
	border-radius: 20px;
	border: solid 3px black;
}

figcaption {
	font-weight: bolder;
	font-size: 1rem;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
