.trainers-page {
	height: 100vw;
	padding: 2rem;
}

.trainer-links {
	height: 70vw;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.single-trainer-page {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 100vh;
	margin: auto;
	padding: 1rem;
}

.trainer-img {
	filter: drop-shadow(2px 2px 5px rgb(0, 0, 0));
}

.trainer-description {
	font-size: 0.75rem;
}
