.container {
	text-align: center;
	width: 100vw;
	height: fit-content;
	margin: 0;
	/* padding-bottom: 5rem; */
}

.nav-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: fixed;
	bottom: 0rem;
	background-image: linear-gradient(rgba(0, 0, 0, 0), black 25%);
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.icon-container {
	width: 100vw;
	padding: 1rem 0;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

.nav-icon {
	color: rgb(0, 0, 0);
	filter: drop-shadow(0px 0px 2px rgb(255, 0, 0));
	animation: blink 2s linear infinite;
}

.logo {
	height: 5rem;
	width: auto;
	filter: drop-shadow(0px 0px 2px rgb(255, 0, 0));
	animation: blink 2s linear infinite;
}

.hidden-menu-btn {
	color: rgb(133, 0, 0);
	filter: drop-shadow(0px 0px 1px rgb(255, 0, 0));
	width: 70vw;
	position: fixed;
	bottom: 1rem;
	left: 50%;
	transform: translateX(-50%);
	animation: blink 2s linear infinite;
}

@keyframes blink {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.5;
	}
	0% {
		opacity: 1;
	}
}
